.admin-home {
   
    margin-left: 25vh;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-4 {
    flex: 0 0 30.33%;
    max-width: 30.33%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .col-8{
    flex: 0 0 45%;
    max-width: 45%;
    padding-left: 10px;
    margin-bottom: 20px;

  }